.App {
  text-align: center;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 240vh;
}

.MobileDesign {
  display: flex;
  width: 100%;
  height: 30%;
  position: fixed;
  bottom: 0;
}

.DesktopDesign {
  display: none;
}

@media (max-width: 375px) {
  .App {
    height: 250vh;
  }
  .MobileDesign {
    height: 25%;
  }
}

@media (min-width: 765px){
  .App{
    height: 260vh;
  }
  .MobileDesign{
    height: 35%;
  }
}

@media (min-width:1024px){
  .App{
    background: linear-gradient(180deg, rgba(0, 46, 116, 0.43) 0.98%, #D5D5D5 100%);
    height: inherit;
  }
  .MobileDesign{
    display: none;
  }

}