.Search {
  display: flex;
  width: 60vw;
  height: 38px;
  font-size: 18px;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #000000;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.6);
}

@media (min-width: 1024px) {
  .SearchBarSection {
    display: flex;
  }
  form {
    display: flex;
    flex-direction: row;
  }
  .Search {
    margin-top: 10px;
    margin-left: 50px;
  }
}
