.Up {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 40px;
  float: right;  
  width: 30px;
  height: 30px;
  bottom: 30px;
  right: 30px;
  margin: 10px;;
  background-color: rgb(180, 180, 192);
  color: white;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
}