.Up {
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  bottom: 30px;
  right: 30px;
  font-size: 40px;
  float: right;
  margin: 10px;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid #000000;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.6);
  color: white;
  background-color: rgb(180, 180, 192);
}
