@media (min-width: 1024px) {
  .DesktopData {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    font-size: 19px;
    margin: 0 auto;
    margin: 30px 50px;
    padding-bottom: 5px;
    padding-top: 10px;
    border-radius: 10px;
    border: 1px solid #000000;
    background: #ffffff;
    box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.60);
    background: linear-gradient(
      180deg,
      rgba(0, 46, 116, 0.43) 0.98%,
      #d5d5d5 100%
    );
  }
  .DesktopDataUp {
    margin-top: 10px;
    margin-right: 10px;
  }
}
